* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: aqua;
  overflow: hidden;
}
nav {
  background-color: #fff;
}
.container {
  max-width: 1140px;
  width: 100%;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Open Sans", sans-serif;

  position: relative;
}
.nav-logo {
  color: rgb(73, 136, 209);
}
.hamburger {
  display: none;
}
.hamburger img {
  width: 25x;
  height: 25px;
}
.icon {
  font-size: 12px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #212529;
  font-size: 20px;
}
.container .navbar .main-menu {
  display: flex;
  gap: 20px;
}

.main-menu li {
  padding-top: 10px;
}
.dropdown1 {
  position: relative;
}
.dropdown1 .menu1 {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  padding: 10px;
  border-top: rgb(73, 136, 209);
  left: 0;
  top: 35px;
}
.dropdown1 .menu1 a,
.dropdown2 .menu2 a {
  color: #616060;
  font-size: 16px;
}
.dropdown2 {
  position: relative;
}
.dropdown2 .menu2 {
  display: none;
  position: absolute;
  background-color: #ffffff;
  border-top: rgb(73, 136, 209);
  min-width: 160px;
  padding: 10px;
  left: 150px;
  top: 0;
}
.dropdown1:hover > .menu1 {
  display: initial;
}
.dropdown2:hover > .menu2 {
  display: initial;
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .navbar {
    display: none;
  }

  .navbar.active {
    display: block;
    flex-direction: column;
    width: 200px;
    height: 100vh;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #fff;
  }
  .navbar.active .main-menu {
    display: block;
    padding-left: 20px;
  }

  .dropdown1 .menu1 {
    display: none !important;
    position: relative;
  }

  .dropdown1.active1 .menu1 {
    position: relative;
    overflow: visible;
    display: block !important;
    top: 0;
  }
  .dropdown2 .menu2 {
    display: none !important;
    position: relative;
    overflow: hidden;
  }

  .dropdown2.active2 .menu2 {
    position: relative;
    display: block !important;
    left: 0;
    overflow: visible;
  }
}
